$background-color: #3498db;
$font-sans-serif: Helvetica;
$font-fancy: 'Calligraffitti', cursive;
$black: #444;
$light-gray: #f0f1f2;

body {
  background-color: $background-color;
  color: white;
  font-family: $font-sans-serif;
  padding: 3em;
  padding-top: 0;
  font-size: 1.3em;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;

  &:hover {
    text-decoration: underline;
  }
}

.main {
  min-height: 800px;
}

h1 {
  font-family: $font-fancy;
  font-size: 6em;
  margin: 0.1em;
}

form {
  margin-top: 50px;

  input {
    width: 200px;
    text-align: center;
    margin: 0 8px;
    -webkit-appearance: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
    border: 0;
    border-bottom: 1px solid white;
    padding: 3px;
    background-color: inherit;

    &:focus {
      border: 1px solid white;
      box-shadow: 0 0 5px white;
      width: 300px;
    }
  }

  button {
    -webkit-appearance: none;
    border: 1px solid white;
    background: $background-color;
    padding: 3px 10px;
  }
}

.footer {
  font-size: 0.7em;
  border-top: 1px solid white;
  padding-top: 10px;

  .github-link {
    float: left;
  }

  .about {
    float: right;
  }
}

.loading-icon {
  border: 3px solid white;
  -webkit-border-radius: 30px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
  margin: 25px auto 0;
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.user-summary {
  padding: 20px;
  text-align: left;
  background-color: white;
  color: $black;
  font-size: 17px;
  max-width: 1000px;
  margin: 50px auto;

  table {
    width: 100%;
  }

  td,
  th {
    padding: 5px;
    height: 15px;
  }

  .user:nth-child(odd) {
    background-color: $light-gray;
  }

  .username {
    color: $black;
  }

  .last-updated {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;
  }

  .update-results {
    color: white;
    background-color: $background-color;
    padding: 10px 20px;
    text-transform: uppercase;
    font-style: normal;
    margin: 20px;
    width: 150px;
    cursor: pointer;
    display: inline-block;
  }
}

.close-x {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.error-message {
  position: relative;
  padding: 10px;
  margin: 20px;
  background-color: red;
}

.float-right {
  float: right;
}
